!pip install selenium
!apt-get update
!apt install chromium-chromedriver
!pip install --upgrade selenium
!pip install pandas
!pip install google-auth google-auth-oauthlib google-auth-httplib2 google-api-python-client
!pip install google-colab
!pip install google-colab-selenium